# Resolution Statistics

In [11]:
# Packages
import pandas as pd
import matplotlib.pyplot as plt
import dataframe_image as dfi # NOTE: YOU MUST HAVE GOOGLE CHROME INSTALLED FOR THIS TO WORK CORRECTLY
import os

In [12]:
# Bring in '~\Box\INFO 290T Project\Intermediate Data\cars_annos.xslx'
cars_annos = pd.read_excel('~/Box/INFO 290T Project/Intermediate Data/cars_annos.xlsx')
cars_annos

,Class,filename,x1,y1,x2,y2,old_class,test,old_class_name,im_path,width,height,num_pixels
0,SUV,00076.jpg,11,13,84,60,1,1,AM General Hummer SUV 2000,/Box/INFO 290T Project/Raw Data/Stanford Car D...,96,64,6144
1,SUV,00457.jpg,31,20,226,119,1,1,AM General Hummer SUV 2000,/Box/INFO 290T Project/Raw Data/Stanford Car D...,250,144,36000
2,SUV,00684.jpg,111,54,365,190,1,1,AM General Hummer SUV 2000,/Box/INFO 290T Project/Raw Data/Stanford Car D...,373,216,80568
3,SUV,01117.jpg,45,39,729,414,1,1,AM General Hummer SUV 2000,/Box/INFO 290T Project/Raw Data/Stanford Car D...,800,600,480000
4,SUV,01167.jpg,14,16,268,169,1,1,AM General Hummer SUV 2000,/Box/INFO 290T Project/Raw Data/Stanford Car D...,278,182,50596
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16180,Convertible,07537.jpg,47,65,249,180,196,0,smart fortwo Convertible 2012,/Box/INFO 290T Project/Raw Data/Stanford Car D...,262,193,50566
16181,Convertible,07594.jpg,29,34,381,273,196,0,smart fortwo Convertible 2012,/Box/INFO 290T Project/Raw Data/Stanford Car D...,400,300,120000
16182,Convertible,07846.jpg,78,289,669,633,196,0,smart fortwo Convertible 2012,/Box/INFO 290T Project/Raw Data/Stanford Car D...,1024,683,699392
16183,Convertible,07895.jpg,31,6,494,272,196,0,smart fortwo Convertible 2012,/Box/INFO 290T Project/Raw Data/Stanford Car D...,500,272,136000
16184,Convertible,08141.jpg,138,150,706,523,196,0,smart fortwo Convertible 2012,/Box/INFO 290T Project/Raw Data/Stanford Car D...,800,600,480000

In [13]:
selected_classes_df = cars_annos[cars_annos['Class'].isin(['SUV', 'Sedan', 'Pickup', 'Coupe', 'Convertible'])]

In [14]:
# Reset columns width and height
# width now x2 - x1
# height now y2 - y1
selected_classes_df['width'] = selected_classes_df['x2'] - selected_classes_df['x1']
selected_classes_df['height'] = selected_classes_df['y2'] - selected_classes_df['y1']

C:\Users\ijyli\AppData\Local\Temp\ipykernel_13976\771736937.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_classes_df['width'] = selected_classes_df['x2'] - selected_classes_df['x1']
C:\Users\ijyli\AppData\Local\Temp\ipykernel_13976\771736937.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_classes_df['height'] = selected_classes_df['y2'] - selected_classes_df['y1']

In [15]:
# Summarize columns 'width' and 'height' by class
# percentile function
# https://stackoverflow.com/questions/17578115/pass-percentiles-to-pandas-agg-function
def percentile(n):
    def percentile_(x):
        return x.quantile(n / 100, interpolation='nearest')
    percentile_.__name__ = 'percentile_{:02.0f}'.format(n)
    return percentile_

In [16]:
# Width
width_sum_stats = (selected_classes_df.groupby('Class')
                                      .agg({'width': ['count', 'mean', 'std', 'min', percentile(25), percentile(50), percentile(75), 'max']})
                                      .reset_index()
                                      .sort_values(by='Class')
                                      #.droplevel(0, axis=1)
                                      .rename(level=0, columns={'width': 'Width', 'Class': ''})
                                      .rename(columns={'count': 'Count', 'mean': 'Mean', 'std': 'Standard Deviation', 'min': 'Minimum', 'percentile_25': '25th Percentile', 'percentile_50': '50th Percentile', 'percentile_75': '75th Percentile', 'max': 'Maximum'})
                                      .style
                                      .format(precision=2, thousands=",", decimal=".")
                                      .set_table_styles([dict(selector='th', props=[('text-align', 'center')])])
                                      .set_properties(**{'text-align': 'center'})
                                      .hide(axis="index"))

# Export
dfi.export(width_sum_stats, '../../Output/Bounding Box Resolution Statistics/Bounding_Box_Width_Sum_Stats.png')

width_sum_stats

In [17]:
height_sum_stats = (selected_classes_df.groupby('Class')
                                      .agg({'height': ['count', 'mean', 'std', 'min', percentile(25), percentile(50), percentile(75), 'max']})
                                      .reset_index()
                                      .sort_values(by='Class')
                                      #.droplevel(0, axis=1)
                                      .rename(level=0, columns={'height': 'Height', 'Class': ''})
                                      .rename(columns={'count': 'Count', 'mean': 'Mean', 'std': 'Standard Deviation', 'min': 'Minimum', 'percentile_25': '25th Percentile', 'percentile_50': '50th Percentile', 'percentile_75': '75th Percentile', 'max': 'Maximum'})
                                      .style
                                      .format(precision=2, thousands=",", decimal=".")
                                      .set_table_styles([dict(selector='th', props=[('text-align', 'center')])])
                                      .set_properties(**{'text-align': 'center'})
                                      .hide(axis="index"))

# Export
dfi.export(height_sum_stats, '../../Output/Bounding Box Resolution Statistics/Bounding_Box_Height_Sum_Stats.png')

height_sum_stats

In [18]:
# Overall num pixels by class
selected_classes_df.groupby('Class').agg({'num_pixels': ['count', 'mean', 'std', 'min', percentile(25), percentile(50), percentile(75), 'max']}).reset_index().sort_values(by='Class')

         Class num_pixels                                                    \
                    count           mean           std    min percentile_25
0  Convertible       2058  418757.179300  7.328486e+05   5757         97461
1        Coupe       2657  513611.123071  8.714205e+05   4505        141484
2       Pickup       1349  324215.275019  6.112298e+05   5922         59700
3          SUV       3100  490472.170323  1.211706e+06   4141        124550
4        Sedan       4211  526464.156257  9.930996e+05  11520        153600


  percentile_50 percentile_75       max
0        220816        386712  12212224
1        270000        594558  16032768
2        179699        307200  13790208
3        275800        386712  42120000
4        286230        561152  21026304

In [19]:
# Describe items in selected_classes
selected_classes_description = (selected_classes_df[['width', 'height', 'num_pixels']].rename(columns = {'width': 'Width', 'height': 'Height', 'num_pixels': 'Number of Pixels'}).describe().T
                                                                                       .rename(columns={'count': 'Count', 'mean': 'Mean', 'std': 'Standard Deviation', 'min': 'Minimum', '25%': '25th Percentile', '50%': '50th Percentile', '75%': '75th Percentile', 'max': 'Maximum'})
                                                                                       .style
                                                                                       .format(precision=2, thousands=",", decimal=".")
                                                                                       .set_table_styles([dict(selector='th', props=[('text-align', 'center')])])
                                                                                       .set_properties(**{'text-align': 'center'}))

# Export
dfi.export(selected_classes_description, '../../Output/Bounding Box Resolution Statistics/Bounding_Box_Selected_Classes_Description.png')

selected_classes_description

## Overall Stats After Resolution Restriction

In [ ]:
# Describe items in selected_classes
selected_classes_df_res_restricted = selected_classes_df[(selected_classes_df['height'] > 200) | (selected_classes_df['width'] > 350)]
selected_classes_description_res_restricted = (selected_classes_df_res_restricted[['width', 'height', 'num_pixels']].rename(columns = {'width': 'Width', 'height': 'Height', 'num_pixels': 'Number of Pixels'}).describe().T
                                                                                       .rename(columns={'count': 'Count', 'mean': 'Mean', 'std': 'Standard Deviation', 'min': 'Minimum', '25%': '25th Percentile', '50%': '50th Percentile', '75%': '75th Percentile', 'max': 'Maximum'})
                                                                                       .style
                                                                                       .format(precision=2, thousands=",", decimal=".")
                                                                                       .set_table_styles([dict(selector='th', props=[('text-align', 'center')])])
                                                                                       .set_properties(**{'text-align': 'center'}))

# Export
dfi.export(selected_classes_description_res_restricted, '../../Output/Bounding Box Resolution Statistics/Bounding_Box_Selected_Classes_Description_Res_Restricted.png')

selected_classes_description_res_restricted